<!DOCTYPE html>
<html>
<head>
  <title>Recipe Box</title>
</head>
<body>
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Welcome to the Bakery</h1>
    </div>
    <h2>{{title}}</h2>
    <ul>
      <li (click)="displayRecipe(currentRecipe)" *ngFor="let currentRecipe of recipes">
        {{currentRecipe.title}}</li>
      </ul>
      <div *ngIf="selectedRecipe">
        <h3>Recipe:</h3>
        <h4>{{selectedRecipe.ingredients}}</h4>
        <h4>{{selectedRecipe.directions}}</h4>
        <button (click)="displayEdit(selectedRecipe)">Edit</button>
        <button (click)="finishedDisplay()">Done</button>
      </div>
      <div *ngIf="editRecipe">
        <label>Enter ingredients</label>
        <input [(ngModel)]="selectedRecipe.ingredients">
        <label>Enter directions</label>
        <input [(ngModel)]="selectedRecipe.directions">
      </div>
      <div>
          <input [(ngModel)]="nextRecipe">
          <button (click)="addRecipe(nextRecipe)">Add Recipe</button>
      </div>
    </div>
  </body>
  </html>
